# TicTacToe

TicTacToe implemented with neural network based learning player.  

Random players can be used to generate CSV.  Learning player can use historical data for training.

In [87]:
from tictactoe.game import Game, Board
from tictactoe.players import InputPlayer, RandomPlayer, LearningPlayer
from tictactoe.data import Storage, Stats
import csv
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [77]:
game = Game()

In [78]:
player1 = RandomPlayer()
player1a = RandomPlayer()

In [79]:
player2 = LearningPlayer()

Generates a random move from random player

In [80]:
player1.get_move(game.board)

(1, 2)

Create 5 games for random players to play

In [81]:
def play_game(game, player_x, player_o):
    game.player_x = player1
    game.player_o = player1a
    game.start()
    game.end()
    return (game.id, game.winner)
    
rounds = [play_game(game, player1, player1a) for i in range(5)]
rounds

[('0x3338', 'X'),
 ('0x346', 'X'),
 ('0xc967', 'X'),
 ('0xc988', None),
 ('0x591c', 'O')]

Retrieve historical game sessions

In [269]:
src = 'data/0x40d9.csv'
stats = Stats()
stats.load(src)

In [270]:
df = pd.read_csv(src)
df = df.fillna('NA')
df.head()

,marker,move,"(0, 0)","(0, 1)","(0, 2)","(1, 0)","(1, 1)","(1, 2)","(2, 0)","(2, 1)","(2, 2)",id,winner
0,O,"(0, 1)",-,-,-,O,X,-,-,-,-,0x7384,X
1,X,"(2, 2)",-,-,-,O,X,-,-,-,X,0x7384,X
2,O,"(1, 2)",-,-,-,O,X,-,-,O,X,0x7384,X
3,X,"(0, 0)",X,-,-,O,X,-,-,O,X,0x7384,X
4,X,"(1, 1)",-,-,-,-,X,-,-,-,-,0xbf02,X

List winners by marker

In [272]:
df_s = df.groupby(['id', 'winner'], as_index=False).count()
df_s['value'] = 1
df_s.groupby('winner')['value'].sum()

winner
NA     4
O     29
X     67
Name: value, dtype: int64

In [275]:
num_games = df_s.shape[0]
num_games

100

In [14]:


d1 = df.copy()

In [61]:
payload = {'a': 1, 'b': 34, 'c': 2, 'd': 4}
a1 = pd.DataFrame(columns=payload.keys())
a1 = a1.append(payload, ignore_index=True)
a1 = a1.append(payload, ignore_index=True)
a1.shape

(2, 4)

In [62]:
for i, row in a1.iterrows():
    print(row.keys())

Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [63]:
a1

   a   b  c  d
0  1  34  2  4
1  1  34  2  4

In [67]:
b1 = {'winner':'x', 'id':'123'}
b1

{'winner': 'x', 'id': '123'}

In [94]:
a1_length = a1.shape[0]
for k, v in b1.items():
    a1[k] = [v] * a1_length
a1['test'] = 123

In [95]:
for i, row in a1.iterrows():
    print(tuple(row))

(1, 34, 2, 4, 'x', 'o', '123', 123)
(1, 34, 2, 4, 'x', 'o', '123', 123)

In [73]:
a1.columns

Index(['a', 'b', 'c', 'd', 'winner', 'marker', 'id'], dtype='object')

In [89]:
board = Board()
board_headers = [(i, j) for i in range(board.width) for j in range(board.height)]
board_headers

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]