In [12]:
from tictactoe.game import Game, Board
from tictactoe.players import InputPlayer, RandomPlayer, LearningPlayer
from tictactoe.data import Storage, Stats
import csv
import pandas as pd
import numpy as np

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
width = 3
height = 3

In [22]:
payload = {'a': 1, 'b': 34, 'c': 2, 'd': 4}
a1 = pd.DataFrame(columns=payload.keys())
a1 = a1.append(payload, ignore_index=True)
a1 = a1.append(payload, ignore_index=True)
a1.shape

(2, 4)

In [23]:
for i, row in a1.iterrows():
    print(row.keys())

Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
a1

   a   b  c  d
0  1  34  2  4
1  1  34  2  4

In [25]:
b1 = {'winner':'x', 'id':'123'}
b1

{'winner': 'x', 'id': '123'}

In [26]:
a1_length = a1.shape[0]
for k, v in b1.items():
    a1[k] = [v] * a1_length
a1['test'] = 123

In [27]:
for i, row in a1.iterrows():
    print(tuple(row))

(1, 34, 2, 4, 'x', '123', 123)
(1, 34, 2, 4, 'x', '123', 123)

In [28]:
a1.columns

Index(['a', 'b', 'c', 'd', 'winner', 'id', 'test'], dtype='object')

In [29]:
board = Board(width, height)
board_headers = [(i, j) for i in range(board.width) for j in range(board.height)]
board_headers

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [32]:
y = np.ones((3,3))
y[1, 1] = 32
y

array([[ 1.,  1.,  1.],
       [ 1., 32.,  1.],
       [ 1.,  1.,  1.]])